.bg-primary-color {
  background-color: #2196f3; }

.bg-primary-color--dark {
  background-color: #1976d2; }

.bg-primary-color--light {
  background-color: #bbdefb; }

.bg-accent-color {
  background-color: #ffc107; }

.bg-white {
  background-color: #fff; }

.bg-gray--dark {
  background-color: #212121; }

.bg-gray--light {
  background-color: #bdbdbd; }

.bg-gray {
  background-color: #757575; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img-rounded--sm {
  border-radius: 5px; }

.img-rounded {
  border-radius: 25px; }

.img-rounded--lg {
  border-radius: 45px; }

.img-circle {
  border-radius: 100%; }

.img-thumbnail {
  border: 1px solid #bdbdbd;
  padding: 5px; }

@font-face {
  font-family: 'alfa-slab-one';
  src: url("./vendor/fonts/AlfaSlabOne-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'galada';
  src: url("./vendor/fonts/Galada-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'open-sans';
  src: url("./vendor/fonts/OpenSans-Regular.ttf") format("truetype"), url("./vendor/fonts/OpenSans-Bold.ttf") format("truetype"); }

html {
  font-family: 'open-sans'; }

.txt--xl {
  font-size: 4em; }

.txt--lg {
  font-size: 2.25em; }

.txt--md {
  font-size: 1.5em; }

.txt--sm {
  font-size: 1.125em; }

.txt--xs {
  font-size: 0.875em; }

.primary-text-color {
  color: #fff; }

.txt-primary-color {
  color: #212121; }

.secondary-text-color {
  color: #1976d2; }

.txt-accent-color {
  color: #ffc107; }
