// #Theme Colors
//
// This are the color palettes selected for this design.
// The palette is base on the materialze colors schemes.
//
// $primary-color-dark - Primary color dark
// $primary-color - Primary color
// $primary-color-light - Primary color light
// $accent-color - Accent color
// $primary-color-text - Primary color text ( Don't use on light background )
// $primary-text-color - Text color for general text
// $secondary-text-color - Text color for secondary text, like tags, disabled
// $divider-color - Color for the divider section
//
// markup:
//<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$white:                #fff;

$gray:                 #757575;
$gray-dark:            #212121;
$gray-light:           #bdbdbd;

$primary-color:        #2196f3;
$primary-color-dark:   #1976d2;
$primary-color-light:  #bbdefb;

$accent-color:         #ffc107;

$primary-color-text:   $white;
$primary-text-color:   $gray-dark;
$secondary-text-color: $gray;

$divider-color:        $gray-light;

