@font-face {
  font-family: 'alfa-slab-one';
  src: url("./vendor/fonts/AlfaSlabOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'galada';
  src: url("./vendor/fonts/Galada-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'open-sans';
  src: url("./vendor/fonts/OpenSans-Regular.ttf") format("truetype"), url("./vendor/fonts/OpenSans-Bold.ttf") format("truetype");
}