// Typography
//
// In this section will be describe the different font family name for the theme.
//







// Custom Fonts
//
// Custom font for the theme desing
//
// Styleguide 1.1
@font-face {
  font-family: 'alfa-slab-one';
  src: url('./vendor/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'galada';
  src: url('./vendor/fonts/Galada/Galada-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'open-sans';
  src: url('./vendor/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'),
  url('./vendor/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}





//----------------------------------------------------------------------------
//
// #Font Sizes
//
//----------------------------------------------------------------------------


.txt--xl {
  font-size: $fs-xl;
}

.txt--lg {
  font-size: $fs-lg;
}


.txt--md {
  font-size: $fs-md;
}

.txt--sm {
  font-size: $fs-sm;
}

.txt--xs {
  font-size: $fs-xs;
}





//----------------------------------------------------------------------------
//
//   #Font Colors
//
//----------------------------------------------------------------------------


// Use in conjuction of $primary-color or any colored background

.primary-text-color {
  color: $primary-color-text;
}


// Use in normal text
.txt-primary-color {
  color: $primary-text-color;
}


.secondary-text-color {
  color: $primary-color-dark;
}


// Use this on links in paragraph or hovered texts
.txt-accent-color {
  color: $accent-color;
}






























html {
  font-family: 'open-sans';
}
