.bg-primary-color {
  background-color: $primary-color;
}

.bg-primary-color--dark {
  background-color: $primary-color-dark;
}

.bg-primary-color--light {
  background-color: $primary-color-light;
}

.bg-accent-color {
  background-color: $accent-color;
}

.bg-white {
  background-color: $white;
}

.bg-gray--dark {
  background-color: $gray-dark;
}

.bg-gray--light {
  background-color: $gray-light;
}

.bg-gray {
  background-color: $gray;
}

