<style> button { margin: 5px }</style>

<button class='jc-btn'>Summit</button>

<button class='jc-btn jc-btn--primary'>Send Message</button>

<button class='jc-btn jc-btn--secondary'>Send Message</button>
