@media (min-width: 320px) {
  .test-xs-bp {
    background-color: #2196f3; } }

@media (min-width: 768px) {
  .test-sm-bp {
    background-color: #1976d2; } }

@media (min-width: 1440px) {
  .test-md-bp {
    background-color: #bbdefb; } }

@media (min-width: 1920px) {
  .test-lg-bp {
    background-color: #ffc107; } }

@media (min-width: 2780px) {
  .test-xl-bp {
    background-color: #757575; } }

.jc-btn {
  background-color: #757575;
  border: 0;
  box-shadow: 0 4px 4px #bdbdbd;
  color: #fff;
  font-family: open-sans;
  font-size: 1.5em;
  height: 53px;
  outline: none;
  width: 237px; }
  .jc-btn:hover {
    box-shadow: 0 4px 12px #757575; }
  .jc-btn:active {
    box-shadow: 0 3px 4px #757575;
    transition: .1s; }

.jc-btn--primary {
  background-color: #2196f3; }
  .jc-btn--primary:active {
    background-color: #1976d2; }

.jc-btn--secondary {
  background-color: #ffc107; }

.bg-primary-color {
  background-color: #2196f3; }

.bg-primary-color--dark {
  background-color: #1976d2; }

.bg-primary-color--light {
  background-color: #bbdefb; }

.bg-accent-color {
  background-color: #ffc107; }

.bg-white {
  background-color: #fff; }

.bg-gray--dark {
  background-color: #212121; }

.bg-gray--light {
  background-color: #bdbdbd; }

.bg-gray {
  background-color: #757575; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img-rounded--sm {
  border-radius: 5px; }

.img-rounded {
  border-radius: 25px; }

.img-rounded--lg {
  border-radius: 45px; }

.img-circle {
  border-radius: 100%; }

.img-thumbnail {
  border: 1px solid #bdbdbd;
  padding: 5px; }

@font-face {
  font-family: 'alfa-slab-one';
  src: url("../fonts/AlfaSlabOne-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'galada';
  src: url("../fonts/Galada-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

html {
  font-family: 'open-sans'; }

.txt--xl {
  font-size: 4em; }

.txt--lg {
  font-size: 2.25em; }

.txt--md {
  font-size: 1.5em; }

.txt--sm {
  font-size: 1.125em; }

.txt--xs {
  font-size: 0.875em; }

.primary-text-color {
  color: #fff; }

.txt-primary-color {
  color: #212121; }

.secondary-text-color {
  color: #1976d2; }

.txt-accent-color {
  color: #ffc107; }
