<ul class="sg-colors">
    {{#color}}
    <li>
        <span class="sg-swatch" style='background:{{ code }} ' ></span>
        <span class="sg-label">
            {{ name }}
            <br />
            {{ code }}
        </span>
    </li>
    {{/color}}
</ul>
