<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='../style.css' />
    </head>

    <body>

        <style>
            div {
                width: 100px;
                height: 50px;
            }

            .col {
                width: 30%;
                height: auto;
                float: left;
                margin: 0 10%;
                max-width: 300px;
            }
        </style>


        <h1>Theme color palette </h1>


        <div class='col'>
            <h2>bg-primary</h2>
            <div class='bg-primary'></div>
        </div>

        <div class='col'>
            <h2>bg-secondary</h2>
            <div class='bg-secondary'></div>
        </div>


        <div class='col'>

            <h2>bg-purple</h2>
            <div class='bg-purple'></div>

            <h2>bg-blue</h2>
            <div class='bg-blue'></div>

            <h2>bg-black</h2>
            <div class='bg-black'></div>

            <h2>bg-white</h2>
            <div class='bg-white'></div>

        </div>

        <div class='col'>

            <h2>bg-gray--ultra-dark</h2>
            <div class='bg-gray--ultra-dark'></div>

            <h2>bg-gray-dark</h2>
            <div class='bg-gray--dark'></div>

            <h2>bg-gray-medium</h2>
            <div class='bg-gray--medium'></div>


            <h2>bg-gray-light</h2>
            <div class='bg-gray--light'></div>
        </div>


    </body>
</html>
