<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='../../style.css' />

    </head>

    <body>

    <style>
        p {
            font-family: 'open-sans';
        }
    </style>



    <h1> Font types </h1>


    <p style="font-family: 'open-sans';"    > Open Sans     </p>
    <p style="font-family: 'galada';"       > Galada        </p>
    <p style="font-family: 'alfa-slab-one';"> Alfa Slab One </p>





    <h1> Font sizes </h1>
    <p class='txt--xl'> X-Large txt </p>
    <p class='txt--lg'> Large txt   </p>
    <p class='txt--md'> Medium txt  </p>
    <p class='txt--sm'> Small txt   </p>
    <p class='txt--xs'> X-Small txt </p>





    <h1> Font weight </h1>
    <p class='txt--lg'>
    The only font with bold option is <span style='font-weight: bold' >open sans</span>
    </p>




    <h1> Font colors </h1>





    </body>
</html>
