// TABLE CONTENT
//
// img-responsive ..................... Make image responsive
// img-rounded ........................ Add round coner to image
// img-circle ......................... Display image in circular shape
// img-thumbnail ...................... Display image inside a Frame





// #Images
//
// Image are picture in HTML, this section define special class used for for
// style images. A suggested practice is use **.img-responsive** on all images
// to ensure the responsiveness to diferent resolusion.  Also is available
// other class for special styling like **.img-rounded**, **.img-circle**,
// and **.img-thumbnail**.
//
// Styleguide 1.5.0




// #Image Responsive
//
// **.img-responsive**.
//
// This class help you keep image responsive in respect to their parent.
// This class help make your image scale proportionaly to the parent.
// Try resize the browser window to see the responsiveness in action.
//
// markup:
// <style>
//  img { margin: 10px; }
//</style>
// <img class='img-responsive' src='http://placehold.it/2000x350'>
// <img class='img-responsive' src='http://placehold.it/900x150'>
// <img class='img-responsive' src='http://placehold.it/300x150'>
//
// Styleguide 1.5.1

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}





// #Image Rounded
//
// **.img-rounded**
//
// This class add a round corner to the image. There are tree size available:
//
// .img-rounded--sm - small round corner
// .img-rounded - medium round corner
// .img-rounded--lg - large roun corner
//
// markup:
// <style>
//  img { margin: 10px; }
//</style>
// <img class='img-responsive {$modifiers}' src='http://placehold.it/400x350'>
//
// Styleguide 1.5.2

.img-rounded--sm {
  border-radius: 5px;
}

.img-rounded {
  border-radius: 25px;
}

.img-rounded--lg {
  border-radius: 45px;
}





// #Image Rounded
//
// #### **.img-circle**
//
// .img-circle - This class style an image in a circular shape.
//
// markup:
// <style>
//  img { margin: 10px; }
//</style>
// <img class='img-responsive {$modifiers}' src='http://placehold.it/400x350'>
// <img class='img-responsive {$modifiers}' src='http://placehold.it/350x350'>
//
// Styleguide 1.5.3

.img-circle {
  border-radius: 100%;
}




// #Image thumbnail
//
// #### **.img-thumbnail**
//
// .img-thumbnail - This class style an image in a circular shape.
//
// markup:
// <style>
//  img { margin: 10px; }
//</style>
// <img class='img-responsive {$modifiers}' src='http://placehold.it/400x350'>
// <img class='img-responsive {$modifiers}' src='http://placehold.it/350x350'>
// <img class='img-responsive  img-circle {$modifiers}' src='http://placehold.it/350x350'>
//
// Styleguide 1.5.4

.img-thumbnail {
  border: 1px solid $gray-light;
  padding: 5px;
}


