
//
//  CONTENT
//
//  Font Size
//
//




//----------------------------------------------------------------------------
//
//    #Font Size
//
//----------------------------------------------------------------------------


$fs-xl: em(64);

$fs-lg: em(36);

$fs-md: em(24);

$fs-sm: em(18);

$fs-xs: em(14);




