<ul>
    {{#fonts}}
    <li style='list-style: none'>

        <h3 style="font-family:{{ fontfamily }}; font-weight:{{ fontweight }}">
             {{ fontfamily }} - {{ fontweight }}
        </h3>
    </li>
    {{/fonts}}
</ul>
