
    <img src='{{img.square.src}}' alt='{{img.square.alt}}'
    class='jc-img-responsive jc-img--rounded--sm' style='float:left; margin: 10px' />

    <img src='{{img.square.src}}' alt='{{img.square.alt}}'
    class='jc-img-responsive jc-img--rounded' style='float:left; margin:10px' />

    <img src='{{img.square.src}}' alt='{{img.square.alt}}'
    class='jc-img-responsive jc-img--rounded--lg' style='float:left; margin: 10px' />
