//----------------------------------------------------------------------------
//
//    #Theme Color
//
//----------------------------------------------------------------------------


$primary-color-dark:   #1976d2;
$primary-color:        #2196f3;
$primary-color-light:  #bbdefb;

$accent-color:         #ffc107;

$primary-color-text:   #fff;
$primary-text-color:   #212121;
$secondary-text-color: #757575;

$divider-color:        #bdbdbd;
